<!DOCTYPE html>
<html>
<head>
  <title>Bake It Off!</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
     
  <ul class="nav nav-pills">
    <li role="presentation" class="nav_link"><%= link_to 'Home', recipes_path %></li>
    <% if !current_user %>
      <li role="presentation" class="nav_link"><%= link_to "Sign up", new_user_registration_path %></li>
      <li role="presentation"><%= link_to "Log in", new_user_session_path %></li>
      <% else %>
        <li role="presentation" class="nav_link"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <li role="presentation" class="user_log">Logged in as <%= current_user.email %></li>
    <% end %>
  </ul>
 

<%= yield %>

</body>
</html>
