<h1>Welcome to CakeWalk!</h1>

<div id="search">
  <%= form_tag("/search", method: :get) do %>
    <%= label_tag(:q, "Search for Recipes!") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <%= label_tag %>
  <% end %>
</div>
 

