<%= form_for (@recipe) do |form| %>
  
<div class="form">
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :time %>
  <%= form.text_field :time %>

  <%= form.label :method %>
  <%= form.text_field :method %>
</div>

  <%= form.file_field :image %>
  
  <% @ingredients.each do |ingredient| %>

    <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id %>
    <%= ingredient.name %>

    <% end %>
  <div class="submit">
    <%= form.submit 'Submit' %>
  </div>

<% end %>