<h1><%= @recipe.name %></h1>

<div class="picture">
  
  <%= image_tag @recipe.image %>

</div>

<h2><%= @recipe.description %></h2>

<h2><%= @recipe.time %></h2>

<h2><%= @recipe.method %></h2>

<% @recipe.ingredients.each do |ingredient| %>

  <h3 class="ingredient_name"><%= ingredient.name %></h3>

<% end %>

<div class="ingredient_info"></div>

